.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
.container{
    max-width: 955px;
    margin: auto;
    height: 60vh;
    border: 2px solid black;
    padding: 33px;
    overflow-y: scroll;
    margin-bottom: 18px;
}
body{
    background-image: linear-gradient(rgb(225,225,225),rgb(50, 104, 239));
    height: 100vh;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#message-input{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
#send-button{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
#message{
background-color: rgb(100, 91, 100);
width: 24%;
padding: 10px;
margin: 17px 12px;
border: 2px solid black;
border-radius: 10px;
display: block;
}

